DOMAIN_NAME=

# certificates
CERTS_=

# MYSQL SETUP
MYSQL_USER=
MYSQL_DATABASE=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# WORDPRESS SETUP
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_EMAIL=
WORDPRESS_ADMIN_PASSWORD=

WORDPRESS_USER=
WORDPRESS_EMAIL=
WORDPRESS_PASSWORD=

# FTP SETUP
FTP_USER=
FTP_PASS=

# EXIM SETUP
EXIM_USER=
EXIM_PASS=
